
.container2 {
    width: 200px;
    height: 200px;
    overflow: hidden;
    margin: 10px;
    position: relative;
}
.container2 > .img {
    position:absolute;

    min-height: 100%;
    width: 100%;
}
.labels-item{
    display: flex;
}

.etiqueta{
    margin-left: 100px;  
}

.card{
    border: 1px solid seagreen;
    padding: 2rem;
    margin-top: 10px;
}



